.Order {
  width: 70%;
  margin: 1rem auto;
  border: 2px solid #b4b4b4;
  box-shadow: 0px 3px 5px #dfdede;
  border-radius: 1rem;
  background-color: rgb(250, 250, 250);
}

.Order h3 {
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: underline #40a4c8 3px;
}
