.ContactData {
  width: 90%;
  margin: 1rem auto;
  border: 2px solid #703b09;
  border-radius: 0.6rem;
  box-shadow: 1px 2px 5px #ccc;
  text-align: center;
}

.ContactData h3 {
  font-weight: 400;
}

.ContactData button:first-of-type {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  margin: 0 auto 1rem auto;

  text-shadow: 1px 1px 3px #dfdfdf;
}

@media (min-width: 700px) {
  .ContactData {
    width: 600px;
  }
}
